{% extends 'base.html' %}
{% block title %}Seller-admin{% endblock %}
{% block content %}
<a href="{%url 'ecomapp:add-product'%}" class = "btn btn-success">Add product to your shop</a>
<br> <br>
 {% if allproducts %}
    
    <h2>Your Shop Products</h2>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Current Stock </th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in allproducts %}
                        <tr>
                            <td>{{ product.title }}</a></td>
                            <td>{{ product.selling_price}}</td>
                            <td>{{ product.stock}}</td>
                            
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>You don't have any products yet...</h2>
        {% endif %}
        {% if allproducts %}
    
    <h2>The Orders Your Shop has Received</h2>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>SHIPPING_ADDRESS</th>
                        <th>PRODUCT_TITLE</th>
                        <th>ORDERED BY</th>
                        <th>CORDER STATUS </th>

                        
                    </tr>
                </thead>

                <tbody>
                    {% for order in allorders %}
                        <tr>
                        <td>{{ order.shipping_address }}</td>
                        <td>{{ order.product.title}}</td>
                        <td>{{ order.ordered_by }}</td>
                        <td>{{ order.order_status }}</td>

                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>Your shop hasn't recieved any orders yet...</h2>
        {% endif %}
{% endblock %}